**Question No: 1**

In [ ]:
#print office mail from given email address

import re
mail_address = input("Enter your Email address :")
splitted_input=re.split(r'[@.]',mail_address)
print(f'Company name of given email address is {splitted_input[1].upper()}')

Enter your Email address :sriram@teezle.com
Company name of given email address is TEEZLE

**Question No: 2**

In [ ]:
#Get the comman seperated input and sort them alphabetically

user_input = input("Enter the comma seperated string: ")

splitted_input = user_input.split(",")

splitted_input.sort()

output = ",".join(splitted_input)

print("The output sorted string is ",output)

Enter the comma seperated string: without,hello,bag,world
The output sorted string is  bag,hello,without,world

**Question No: 3**

#Set

Set is an collection of values which is iterable, mutable and has no duplicate.Set are written curly bracket

It is unordered and unindexed,so you cannot be sure in which order the items will appear

In [ ]:
#set 

this_set = {"I","am","student"}

print(this_set)

{'student', 'I', 'am'}

**Set constructor**

In [ ]:
#using set constructor for make set

this_set = set(("I","am","student"))

type(this_set)

print(this_set)

{'student', 'I', 'am'}

**Access set**

In [ ]:
#Access set

#You cannot access set using index or key because of unindexing in nature, we can only access as iterable using for loop and in operator

this_set = {"I","am","student"}

for i in this_set:
  print(i)

student
I
am

**change Items**



> After set is created we cant change any value but we can add, remove or join with other set

In [ ]:
#ADD values in set

this_set = {"I","am","student"}

this_set.add("AI/ML")

this_set

{'AI/ML', 'I', 'am', 'student'}

**Add multiple values in set**

In [ ]:
#Add multiple values in set

this_set = {"I","am","student"}

this_set.update({"in","AI/ML","course"})

this_set

{'AI/ML', 'I', 'am', 'course', 'in', 'student'}

###length function in set

In [ ]:
#length function in set

this_set = {"I","am","student"}

print(len(this_set))

3

**Remove values in set**


> we can use remove,discard and pop function for removing set values

In [ ]:
#remove values

this_set = {"I","am","student","in","AI/ML","course"}

#using remove, if values is not present it will give you error

this_set.remove("I")

print(this_set)

#using discard, if value is not present it will not shown an error

this_set.discard("I")

print(this_set)

#using pop , remove last value but keep in mind it is indexed one so it will not remove what we expect

this_set.pop()

print(this_set)

{'am', 'AI/ML', 'course', 'student', 'in'}
{'am', 'AI/ML', 'course', 'student', 'in'}
{'AI/ML', 'course', 'student', 'in'}

**Delete Set**

In [ ]:
#clear set

this_set = {"I","am","student","in","AI/ML","course"}

this_set.clear()

print(this_set)

#Note if we use delete keyword , it will delete set completely

set()

**Copy set**

In [ ]:
#copying set to another value

this_set = {"I","am","student","in","AI/ML","course"}

cpy_set = this_set.copy()

print(cpy_set)

{'student', 'am', 'AI/ML', 'I', 'course', 'in'}

**Question No: 4**

In [ ]:
#find missing number in 1 to n numbers list

user_input = input("Enter the numbers with space: ")

numbers = user_input.split(" ")

int_number=[]

missed_number = []

int_number = list(map(int,numbers))

[missed_number.append(i) for i in range(1,max(int_number)) if i not in int_number]

output = " ".join(map(str,missed_number))

print("Missing Number is ",output)

Enter the numbers with space: 1 5 8
Missing Number is  2 3 4 6 7

**Question No : 5**

In [ ]:
#Get the input and remove deplicate

user_input = input("Enter the numbers with space: ")

numbers = user_input.split(" ")

modified = []

[modified.append(i) for i in numbers if i not in modified]

output = " ".join(map(str,modified))

print(" The modified output is ",output)

Enter the numbers with space: 22 33 44 22 34 55 55 66
 The modified output is  22 33 44 34 55 66