**Question No:1**

In [3]:
#Subtraction of Two Complex Number
a = 1 + 2j
b= 2 + 3j
c = a +b
print("The subtraction of Two complex ",a," and ",b," is ",c)

The subtraction of Two complex  (1+2j)  and  (2+3j)  is  (3+5j)

**Question No:2**

In [8]:
#fourth route of a number
n = int(input("enter the value of n "))
print("The fourth square root of the number ",n," is ",n**0.25)

enter the value of n 8
The fourth square root of the number  8  is  1.681792830507429

**Question No:3**

In [11]:
#swaping of two number with third variable
def swaping():
  a= int(input('enter the first value you want to swap '))
  b= int(input('enter the second value you want to swap '))
  print(f'the values before swaping {a} and {b}')
  c=a
  a=b
  b=c
  print(f'the values after swaping {a} and {b}')
swaping()

enter the first value you want to swap 10
enter the second value you want to swap 20
the values before swaping 10 and 20
the values after swaping 20 and 10

**Question No:4**

In [14]:
#swaping of Two Number with out temporary variable

def swaping_without_c():
  a= int(input('enter the first value you want to swap '))
  b= int(input('enter the second value you want to swap '))
  print(f'the values before swaping {a} and {b}')
  a= a+b
  b= a-b
  a= a-b
  print(f'the values after swaping {a} and {b}')
swaping_without_c()

enter the first value you want to swap 2
enter the second value you want to swap 4
the values before swaping 2 and 4
the values after swaping 4 and 2

**Question No:5**

In [16]:
#Convert farenheit to kelvin and celsius

farenheit = float(input('Enter the value in farenheit '))
kelvin = (farenheit-32)*5/9+273.15
celsius = (farenheit-32)*5/9
print(f'The kelvin and celcius value for given farenheit is {kelvin}  and {celsius}')

Enter the value in farenheit 60.7
The kelvin and celcius value for given farenheit is 289.09444444444443  and 15.944444444444445

**Question No:6**

In [25]:
#demonstrate data types in python

data1 = 10
print(type(data1))

data2 = 10.2
print(type(data2))

data3 = '10.5'
print(type(data3))

data4 = [1,2,3,4]
print(type(data4))

data5 = (1,2,3,4)
print(type(data5))

data = {'date6':10,'data7':'10'}
print(type(data))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>