In [1]:
import pandas as pd

In [2]:
pat = [5, 4, 4, 3, 9, 4]

jack = [4, 8, 7, 5, 1, 5]

Alex = [9, 9, 8, 10, 4, 10]

players_score = pat + jack + Alex

In [3]:
player = (["pat"]*6)+(["jack"]*6)+(["Alex"]*6)

In [4]:
data = pd.DataFrame({"Player":player,"score":players_score})

In [5]:
data

   Player  score
0     pat      5
1     pat      4
2     pat      4
3     pat      3
4     pat      9
5     pat      4
6    jack      4
7    jack      8
8    jack      7
9    jack      5
10   jack      1
11   jack      5
12   Alex      9
13   Alex      9
14   Alex      8
15   Alex     10
16   Alex      4
17   Alex     10

In [6]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [7]:
lm = ols('score ~ Player',data=data).fit()
table = sm.stats.anova_lm(lm)
print(table)

            df     sum_sq    mean_sq         F    PR(>F)
Player     2.0  46.777778  23.388889  4.488273  0.029668
Residual  15.0  78.166667   5.211111       NaN       NaN

**Answer :**
        Here PR is 0.029 <= 0.05, so we reject null hypothesis occur,then at least one of the means is different from at least one other population mean (i.e. not all archers perform equally).we do not know know exactly who performs best or worst