**Question No:**

In [11]:
#First 20 non even prime natural Number
prime_number =[]
count = 1
i=2
while count<=20:
  for x in range(2,i):
    if i%2==0:
      i=i+1
    else:
      count= count + 1
      prime_number.append(i)
      i=i+1
  else:
      count= count + 1
      prime_number.append(i)
      i=i+1 
print("First 20 non even prime Natural Number  is ",prime_number)

First 20 non even prime Natural Number  is  [2, 3, 4, 5, 7, 8, 9, 11, 13, 15, 16, 17, 19, 21, 23, 25, 27, 29, 31, 32]

**Question No:2**

In [41]:
#15 string Function
string = "Welcome to lets upgrade"

#capitalize
print("function 1: ",string.capitalize())

#casefold

print("function 2: ",string.casefold())

#check is all lower

print("function 3: ",string.islower())

#check is all upper 

print("function 4: ",string.isupper())

#convert into upper case

print("function 5: ",string.upper())

#space

print("function 6: ",string.isspace())

#Find

print("function 7: ",string.find("t"))

#count

print("function 8: ",string.count("e"))

#Title

print("function 9: ",string.title())

#Split

print("function 10: ",string.split(" "))

#rfind

print("function 11: ",string.rfind("e"))

#replace 

print("function 12: ",string.replace("e","f"))

#isdecimal,
val ="30"
print("function 13: ",val.isdecimal())

#Join 

val=["sriram","kartheeswaran"]
x=" ".join(val)
print("function 14: ",x)

#Swapcase

val= "SRIRAM kartheeswaran"

print("function 15: ",val.swapcase())

function 1:  Welcome to lets upgrade
function 2:  welcome to lets upgrade
function 3:  False
function 4:  False
function 5:  WELCOME TO LETS UPGRADE
function 6:  False
function 7:  8
function 8:  4
function 9:  Welcome To Lets Upgrade
function 10:  ['Welcome', 'to', 'lets', 'upgrade']
function 11:  22
function 12:  Wflcomf to lfts upgradf
function 13:  True
function 14:  sriram kartheeswaran
function 15:  sriram KARTHEESWARAN

**Question No:3**

In [45]:
#check string are palindrome and anagram or not

string1= input("First string")
string2= input("Second string")
def palindrome(x):
  return x[::-1]
rev_str1= palindrome(string1)
rev_str2= palindrome(string2)
sorted_str1 = sorted(string1)
sorted_str2 = sorted(string2)
if string1==rev_str1 or string2==rev_str2:
  print("It is palindrome")
elif sorted_str1==sorted_str2:
  print("It  is anagram")
else:
  print("None is palindrome or Anagram")

First stringcat
Second stringrat
None is palindrome or Anagram

**Question No:4**

In [53]:
#Print the string with out special character

bad_words ="`~!@#$%^&*()-_=+[]{}\|;:<,>.?/ "

user_input= input("Enter the string: ")

for i in bad_words:
  user_input=user_input.replace(i,"")

print("Lower case of converted string",user_input.lower())

Enter the string: "Dr. Darshan Ingle @AIML Trainer",
Lower case of converted string "drdarshaningleaimltrainer"