**Question No:1**

  From my observartion we can't do floor division and Modulo operation of complex numbers in python.It gives TypeError

In [39]:
a=1+2j
b=2+2j
c=a+b
print(c)
c=a-b
print(c)
c=a*b
print(c)
c=a/b
print(c)

(3+4j)
(-1+0j)
(-2+6j)
(0.75+0.25j)

**Question No:2**


#**Range function:** 
##   *range(start,end,step)*
  Range function give the series of value from start to end with incrementation factor and the incrementation is based on step parameter value,by default it is 1.if we change the step value the incrementation based on that value

In [36]:
#Get the range of value from 1 to 10 with the step of 3
i = list(range(1,10,3))
i

[1, 4, 7]

**Question No :3**

In [19]:
#Get and subtract two value
val1 = int(input('Enter 1st value: '))
val2 = int(input('Enter 2nd value :'))
sub = val1-val2
if sub>25:
  print("The multiplication of two numbers ",val1," and ",val2, " is " ,val1*val2)
else:
  print("The Division of two numbers ",val1," and ",val2," is ",val1/val2)

Enter 1st value: 500
Enter 2nd value :2
The multiplication of two numbers  500  and  2  is  1000

The Division of two numbers  10  and  5  is  2.0

**Question No:4**

In [34]:
#Get the list of value from 1 to 11 
list_value = list(range(1,11))
for x in list_value:
  if x%2==0:
    print(x**2-2)
  else:
    pass

2
14
34
62
98

**Question No:5**

In [35]:
#Get the 10 elements from 11 to 21
list_value = list(range(11,21))
for x in list_value:
  if x/2 > 7:
    print("value is ",x)
  else:
    pass

value is  15
value is  16
value is  17
value is  18
value is  19
value is  20